.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    &__inner {
        display: flex;
        align-items: flex-end;
       
    }
    &__logo {
            width: 40px;
            transition: 1s ease;
            &:hover {
                scale: 1.1;
            }
             img {
                width: 100%;
            }
        }
    &__label {
        font-size: 23px;
        color: #fff;
        font-weight: 500;
    }
    &__official {
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        span {
            display: block;
            font-size: 18px;
        }
    }
    &__phone {
        display: block;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        &_xs {
            display: none;
            color: #fff;
            font-size: 18px;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
            opacity: 0.9;
        }
    }
    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__btn {
        display: none;
        cursor: pointer;
        width: 30px;
        height: 20px;
        position: relative;
        &::before , &::after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $main-color;
            position: absolute;
            transition: all 0.3s ease 0s; //для плавности переключения
        }
        &::after {
            bottom: 0;
        }
        &::before {
            top: 0;
        }
        span {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $main-color;
            top: 9px;
        }
        &.active {// добавляем стили для активного состояния (при нажатии) 
            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
            span {
                display: none;
            }
        }
    }
}

