@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .promo {
        &__header {
            font-size: 38px;
            line-height: 38px;
        }

        &__subheader {
            font-size: 21px;
            line-height: 21px;
        }
    }

    .button {
        &_main {
             margin-top: 50px;
             width: 280px;
        }
    }
    .title {
        font-size: 26px;
        text-align: center;
        line-height: normal;
    }
    .advantages {
        padding: 50px 0 50px;
        &__wrapper {
            margin-top: 50px;
            flex-direction: column;
        }
        &__icon {
            width: 100%;
        }
        &__icon + &__icon {
            margin-top: 20px;
        }
        &__title {
            margin-top: 10px;
        }
        &__descr {
            margin-top: 10px;
        }
    }
    .consultation {
        padding: 70px 0 92px 0;
        &__descr {
            text-align: center;
            margin: 10px 0 40px;
        }
    }
    .feed-form {
        margin: 0 auto;
    }
    .catalog {
        padding-bottom: 50px;
        &__tabs {
            margin-top: 40px;
        }
        &__tab {
            width: 200px;
            font-size: 16px;
        }
        &__content {
            justify-content: center;
            gap: 30px;
        }
    }
    .review {
        &__item {
            flex-direction: column;
            align-items: center;
            margin-top: 45px;
        }
        &__block {
            margin: 0 auto;
        }
        &__client {
            text-align: center;
        }
        &_count {
            text-align: center;
        }
        &__text {
            padding: 0;
        }
    }
    .application {
        &__section {
            img {
                width: 100%;
            }
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__items {
            margin-left: 0;
        }
        &__links {
            margin-top: 30px;
        }
    }

}


@media (max-width: 768px) {
    .promo {
        padding: 21px 0 60px 0;
        &__wrapper {
            align-items: center;
            margin-top: 75px;
        }
    }
    .title {
        font-size: 24px;
    }
    .carousel {
        &__inner {
            max-width: 100%;
        }
    }
    .slick-slide img {
        max-width: 100%;
        height: 300px;
    }
    .slick-dots {
        position: absolute;
        transform: translateX(-50%) rotate(90deg);
        bottom: 0;
        left: 50%;
        list-style: none;
        li {
            padding-left: 10px;
        }
        button {
            font-size: 0;
            padding: 0;
            border: none;
            background-color: $main-color;
            width: 4px;
            height: 20px;
            border-radius: 7px;
            Cursor: pointer;
            transition: all .3s;
        }
    }
    .catalog {
        &__tab {
            font-size: 15px;
        }
    }
    .footer {
        &__info {
            width: 300px;
            border-radius: 1.3rem;
            padding: 30px 20px 25px;
            height: 210px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .header {
       position: fixed;
        left: 10px;
        right: 10px;
        top: 10px;
        z-index: 99;
        &__official {
            display: none;
        }
        &__contacts {
            position: fixed;
            flex-direction: column;
            align-items: center;
            padding-top: 100px;
            top: 0;
            //right: 0; чтобы было видно всё меню
            left: -100%;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0, .9);
            transition: 0.6s;
            row-gap: 20px;
            &_active {
                left: 0;
                z-index: 9;
            }
        }
        &__phone {
            display: none;
            &_xs {
                display:block;
                font-size: 25px;
            }
        }
        &__btn {
            display: inline-block;
            z-index: 50;
        } 
    }
    .promo {
        padding: 21px 0 20px 0;
        &__wrapper {
            margin-top: 45px;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 13px;
            line-height: 14px;
            margin-top: 0px;
        }

        &__icons {
            margin-top: 20px;
            display: block;
            width: auto;
        }
        &__icon {
            width: 100vw;
            font-size: 16px;
        }
        &__icon + &__icon {
            margin-top: 15px;
        }

        &__link {
            font-size: 14px;
        }
    }

    .button {
        &_main {
            margin-top: 40px;
        }
        &_xs {
            background-color: transparent;
            width: auto;
            height: auto;
            font-size: 25px;
            text-transform: none;
        }
    }
    .title {
        font-size: 20px;
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
    .carousel {
        padding: 50px 0;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            margin-top: 24px;
        }
        &__tab {
            margin-top: 8px;
            width: 60%;
            padding: 6px;
            height: 35px;
            font-size: 1rem;
            line-height: normal;
        }
    }
    .application {
        padding: 40px 0 20px;
        &__info {
            text-align: center;
        }
        &__subtitle {
            font-size: 19px;
        }
        &__links {
            width: 240px;
            margin: 15px auto 0;
        }
    }
    .footer {
        &__info {
            width: 260px;
            border-radius: 1.3rem;
            padding: 30px 20px 25px;
            height: 200px;
        }
        &__addr {
            margin-bottom: 25px;
            font-size: 17px;
        }
    }
    .modal {
        width: 280px;
        &__subtitle {
            font-size: 15px;
        }
        &__descr {
            font-size: 13px;
            margin: 10px 0 10px;
        }
        &__close {
            right: 0;
        }
    }
    .feed-form {
        width: auto;
    }
    .button {
        &_submit {
            font-size: 13px;
            height: 45px;
        }
    }
}